:root {
  --create-product-bottom-margin: .75rem;
  --create-product-label-margin: .5rem;
}


.admin-container {
  top: 3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.admin-title {
  margin: 0;
  margin-top: 1rem;
}

.create-product-form {
  background-color: aqua;
  width: 90%;
  max-width: 800px;
  /* height: 10em; */
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.product-form-grid-container {
  display: grid;
  gap: var(--create-product-bottom-margin) 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.product-field {
  display: flex;
  flex-direction: column;
}

.product-name {
  
}

.pomade-label {
  margin-bottom: var(--create-product-label-margin);
}

.category-select.product-input {
  background-color: white;
  height: 1.7rem;
}

.product-input {
  height: 1.5rem;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  /* margin-bottom: 1rem; */
  width: 100%;
}
.product-input:last-of-type {
  margin-bottom: none;
}

.product-description {
  height: 3rem;
}

/* .product-image-label {
  margin-top: var(--create-product-bottom-margin);
  margin-bottom: var(--create-product-label-margin);
} */

.image-upload-error {
  color: red;
}

input[type=file]::file-selector-button {
  background-color:rgb(255, 238, 0);
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
  font-family: 'work sans', sans-serif;
  height: 100%;
  margin-right: 0.7rem;
  font-size: .75rem;
  padding: 0 .4rem;
  transition: all 200ms linear;
}

input[type=file]::file-selector-button:hover {
  background-color: rgb(0, 162, 255);
} 

input[type=file] {
  background-color: white;
}

.add-product-btn {
  font-size: 1rem;
  margin-top: calc(var(--create-product-bottom-margin) + 1rem);
  padding: 0.25rem;
  background-color:rgb(255, 238, 0);
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  font-family: 'work sans', sans-serif;
  transition: background-color 200ms linear, transform 100ms ease;
  border-radius: 3px;
}

.add-product-btn:hover {
  transform: translateY(-13%);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.add-product-btn:active {
  transform: translateY(0);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
