.admin-container {
  top: 3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.admin-title {
  margin: 0;
  margin-top: 1rem;
}

.create-product-form {
  background-color: aqua;
  width: 90%;
  max-width: 800px;
  /* height: 10em; */
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.product-form-grid-container {
  display: grid;
  gap: 1.5rem 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.product-field {
  display: flex;
  flex-direction: column;
}

.product-name {
  
}

.pomade-label {
  margin-bottom: .5rem;
}

.category-select.product-input {
  background-color: white;
  height: 1.7rem;
}

.product-input {
  height: 1.5rem;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
  /* margin-bottom: 1rem; */
  width: 100%;
}
.product-input:last-of-type {
  margin-bottom: none;
}

.product-description {
  height: 3rem;
}

.product-image-label {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

input[type=file]::file-selector-button {
  background-color:rgb(255, 238, 0);
  border: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
  font-family: 'work sans', sans-serif;
  height: 100%;
  margin-right: 0.7rem;
  padding: 0 .5rem;
  transition: all 200ms linear;
}

input[type=file]::file-selector-button:hover {
  background-color: rgb(0, 162, 255);
} 

input[type=file] {
  background-color: white;
}
