.pomades-container {
  display: block;
  padding-top: 3.4rem;
  /* padding: 0rem 1rem; */
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  /* overflow-y: scroll; */
}

.pomades {
  display: grid;
  justify-items: center;
  gap: 1rem 1rem;
  /* grid-template-columns: repeat(12, minmax(240px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;
}

.single-pomade {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.product-image-link {
  width: 100%;
}

.product-image {
  width: 100%;
  cursor: pointer;
  height: 19em;
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .3rem;
}

.product-name {
  font-size: .85rem;
  font-weight: 600;
  text-align: center;
  padding: .2rem 0rem;
  
}

.product-company {
  font-size: .85rem;
  font-weight: 500;
  /* margin-top: .4rem; */
}

.product-price {
  font-size: .95rem;
  letter-spacing: .05rem;
}