:root {
  /* Mobile */
  --mobile-paragraph-font-size: .8rem;
  --mobile-paragraph-line-height: 1rem;
  --mobile-name-font-size: .9rem;
  --mobile-grid-item-font-size: .8rem;
  --mobile-company-font-size: .9rem;
  --mobile-price-font-size: .9rem;
  /* Medium */
  --med-paragraph-font-size: 1rem;
  --med-paragraph-line-height: 1rem;
  --med-name-font-size: 1.2rem;
  --med-grid-item-font-size: 1rem;
  --med-company-font-size: 1.1rem;
  --med-price-font-size: 1.1rem;
  /* Large */
}

.single-pomade-page {
  position: absolute;
  top: 4rem;
  /* max-width: 1000px; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1.25rem;
}

.single-pomade-container {
  /* max-width: 400px; */
  width: 90vw;
}

.single-pomade-border {
  border: 2px solid aqua;
  border-radius: 5px 5px 0px 0px;
}

.single-pomade-image {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  box-shadow: var(--shadow);
  border-radius: 5px;
}

.single-pomade-name {
  font-size: var(--mobile-name-font-size);
  margin-bottom: 0.4rem;
}

.single-pomade-paragraph {
  margin-bottom: 0.6rem;
  line-height: var(--mobile-paragraph-line-height);
  font-size: var(--mobile-paragraph-font-size);
}

.single-pomade-company {
  font-size: var(--mobile-company-font-size);
  font-weight: 600;
  margin-right: 1rem;
}

.single-pomade-price {
  font-size: var(--mobile-price-font-size);
}

.single-pomade-description {

}

.sp-flex {
  display: flex;
}

.single-pomade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sp-grid-item {
  font-size: var(--mobile-grid-item-font-size);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-self: center;
}

.flex .single-pomade-company {
  margin-right: 1rem;
}

.border-bottom-none {
  border-bottom: none;
  background-color: aqua;
}

.single-pomade-container .border-bottom-none {
  padding: 0.5rem;
}

.sp-body {
  padding: 0.5rem;
  border-radius: 0px 0px 5px 5px;
}

.single-pomade-info {
  box-shadow: var(--shadow);
}

@media (min-width: 370px) {
  .single-pomade-company {
    font-size: var(--med-company-font-size);
  }
  .single-pomade-paragraph {
    font-size: var(--med-paragraph-font-size);
    line-height: var(--med-paragraph-line-height);
  }
  .single-pomade-name {
    font-size: var(--med-name-font-size);
  }
  .single-pomade-price {
    font-size: var(--med-price-font-size);
  }
  .sp-grid-item {
    font-size: var(--med-grid-item-font-size);
  }

  .single-pomade-container {
    max-width: 530px;
  }

  .single-pomade-image {
    /* max-width: 600px; */
  }
}

@media (min-width: 700px) {
  .single-pomade-company {
    font-size: var();
  }
  .single-pomade-paragraph {
    font-size: var();
  }
  .single-pomade-name {
    font-size: var();
  }
  .single-pomade-price {
    font-size: var();
  }
  .sp-grid-item {
    font-size: var();
  }

  .single-pomade-container {
    max-width: unset;
  }

  .single-pomade-image {
    width: 60%;
  }
  
}








/* .single-pomade-company {
  font-size: var();
}
.single-pomade-paragraph {
  font-size: var();
}
.single-pomade-name {
  font-size: var();
}
.single-pomade-price {
  font-size: var();
}
.sp-grid-item {
  font-size: var();
} */